.container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.yetAnotherContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.snButton {
    font-size: large;
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
}

.snButton:hover {
    background-color: burlywood;
}

.form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 400px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 20px;
}

.formElement {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: large;
    font-weight: 500;
}

.input {
    font-size: large;
    font-family: "Montserrat", sans-serif;
}