.pageContainer {
    padding-left: 300px;
    padding-right: 300px;
}

.table {
    border: 2px solid black;
    border-radius: 15px;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: black;
}

.tableElement {
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.row {
    
}

.row.odd {
  background-color: #e8d4ba;
}