.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.pacman {
  width: 32px;
  height: 32px;
  background-image: url('/public/pacman-spritesheet.jpg');
  background-repeat: no-repeat;
}

.loadingBar {
    width: 100px;
    height: 10px;
    border: 2px solid #2b0d8e;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}