.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    z-index: 9999;
    justify-content: center;
    transition: opacity 0.6s ease;
    opacity: 1;

    font-family: "Montserrat", sans-serif;
}

.loadingScreen.fadeOut { 
  opacity: 0;
  pointer-events: none;
}



.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.writings {
    color: #4a04b3;
    margin: 5px;
}

.pacman {
  position: relative;
  background-size: 894px 960px;
  width: 64px;
  height: 64px;
  background-image: url('/public/pacman-spritesheet.jpg');
  background-repeat: no-repeat;
}

.loadingBar {
    height: 64px;
    border: 5px solid #2b0d8e;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}