.navContainer {
    background-color: burlywood;
    height: 60px;
    padding-left: 20px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between
}

.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navButton {
    height: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 3px; 
}

.navButton:hover {
    background-color: rgb(180, 148, 108);
}

.selected {
    text-decoration: underline;

}